.text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #242424;
  margin-bottom: 34px;
}

.tag {
  padding: 14px 36px;
  background: #000000;
  border-radius: 8px 0px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
}

.events_page_wrapper .search_and_breadcrumb_place {
  margin-bottom: 56px;
}

.events_page_wrapper .search_and_breadcrumb_place .breadcrumb {
  margin-bottom: 24px;
}

.events_page_wrapper .search_and_breadcrumb_place .breadcrumb p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #9F9F9F;
}

.events_page_wrapper .search_and_breadcrumb_place .breadcrumb p span {
  color: black;
}

.events_page_wrapper .search_and_breadcrumb_place .search_place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events_page_wrapper .search_and_breadcrumb_place .search_place .titles_span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #242424;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events_page_wrapper .search_and_breadcrumb_place .search_place form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.events_page_wrapper .search_and_breadcrumb_place .search_place form input {
  width: 28%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.0216em;
  color: #242424;
  border: 0.5px solid #9CA5B2;
  border-radius: 8px;
  padding: 4px 0 4px 24px;
}

.events_page_wrapper .search_and_breadcrumb_place .search_place form .mob_title {
  display: none;
}

.events_page_wrapper .events_cards_category_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events_page_wrapper .events_cards_category_wrapper .events_card_wrapper {
  width: 65%;
}

.events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .upcoming_events_mobille {
  display: none;
}

.events_page_wrapper .events_cards_category_wrapper .events_category_wrapper {
  width: 30%;
}

.events_page_wrapper .events_cards_category_wrapper .events_category_wrapper .categories {
  padding-left: 40px;
  margin-bottom: 64px;
}

.events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .slider_event .slider_event_banner_card .event_big_card {
  height: 512px;
  padding: 0 36px 32px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  border-radius: 8px;
  overflow: hidden;
}

.events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .slider_event .slider_event_banner_card .event_big_card h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 0;
  margin-bottom: 16px;
}

.events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .slider_event .slider_event_banner_card .event_big_card p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 0;
  margin-top: 8px;
  z-index: 1;
}

.events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .slider_event .slider_event_banner_card .event_big_card .lorem_ipsum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .slider_event .slider_event_banner_card .event_big_card .lorem_ipsum span {
  z-index: 1;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .slider_event .slider_event_banner_card .event_big_card::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(41.02%, rgba(0, 0, 0, 0)), color-stop(88.28%, rgba(0, 0, 0, 0.8)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.02%, rgba(0, 0, 0, 0.8) 88.28%);
}

.events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .mini_card_name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #242424;
  margin: 52px 0 36px 0;
}

.events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .mini_cards_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .mini_cards_wrapper .mini_card {
  margin-bottom: 64px;
  width: 48%;
  position: relative;
}

.search_place_icon {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .mini_cards_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .mini_cards_wrapper .mini_card {
    width: 100%;
  }
  .events_page_wrapper .events_cards_category_wrapper .events_card_wrapper {
    width: 50%;
  }
  .events_page_wrapper .events_cards_category_wrapper .events_category_wrapper {
    width: 46%;
  }
}

@media only screen and (max-width: 700px) {
  .events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .upcoming_events_mobille {
    display: block;
  }
  .upcoming_events {
    display: none;
  }
  .events_page_wrapper .events_cards_category_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .events_page_wrapper .events_cards_category_wrapper .events_card_wrapper {
    width: 100%;
  }
  .events_page_wrapper .events_cards_category_wrapper .events_category_wrapper {
    width: 100%;
  }
  .events_page_wrapper .search_and_breadcrumb_place {
    position: relative;
  }
  .events_page_wrapper .search_and_breadcrumb_place .search_place form {
    display: none;
  }
  .mob_search_item {
    padding-top: 10px;
    padding-bottom: 80px;
    background: #FFFFFF;
    border-radius: 8px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 40px;
    top: 95px;
    -webkit-box-shadow: 0px 0px 20px 0px #888888;
            box-shadow: 0px 0px 20px 0px #888888;
    max-width: 410px;
    width: 100%;
  }
  .events_page_wrapper .search_and_breadcrumb_place .search_place form input {
    width: 76%;
    margin-bottom: 16px;
  }
  .events_page_wrapper .search_and_breadcrumb_place .search_place .titles_span {
    width: auto;
  }
  .events_page_wrapper .search_and_breadcrumb_place .search_place form .mob_title {
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #242424;
    width: auto;
    display: block;
    margin-bottom: 32px;
  }
  .search_place_icon {
    display: block;
    margin-left: 30px;
  }
  .events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .mini_cards_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .mini_cards_wrapper .mini_card {
    width: 49%;
  }
}

@media only screen and (max-width: 450px) {
  .events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .mini_cards_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .mini_cards_wrapper .mini_card {
    width: 100%;
  }
  .events_page_wrapper .events_cards_category_wrapper .events_card_wrapper .slider_event .slider_event_banner_card .event_big_card p {
    font-size: 14px;
    line-height: 24px;
  }
  .news_card .news_content .card_name {
    font-size: 18px;
    line-height: 36px;
  }
}
/*# sourceMappingURL=events.module.css.map */