.footer-wrapper .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 32px 0;
}

.footer-wrapper .inner .block-one {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-wrapper .inner .block-one .search {
  margin-bottom: 40px;
}

.footer-wrapper .inner .block-one .footer-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.105em;
  color: #0B0A0A;
  display: inline-block;
  margin-bottom: 40px;
}

.footer-wrapper .inner .block-one.has-before::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 120%;
  left: -70%;
  background-color: #c8c8c8c8;
}

.footer-wrapper .inner .block-one.has-before::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 120%;
  right: -70%;
  background-color: #c8c8c8c8;
}

.footer-wrapper .inner .block-one.active {
  background-color: transparent;
  position: relative;
}

.footer-wrapper .inner .block-one.active::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 120%;
  right: -60%;
  background-color: #c8c8c8c8;
}

@media only screen and (max-width: 1400px) {
  .footer-wrapper .inner .block-one .footer-link {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.105em;
    color: #0B0A0A;
  }
  .footer-wrapper .inner .block-one {
    width: 20%;
  }
  .footer-wrapper .inner .block-one.has-before::before {
    left: -35px;
  }
  .footer-wrapper .inner .block-one.has-before::after {
    right: 0;
  }
  .footer-wrapper .inner .block-one.active::before {
    right: 0;
  }
  .footer-wrapper .inner .block-one a {
    width: 80%;
  }
  .footer-wrapper .inner .block-one a img {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .footer-wrapper .inner .block-one .footer-link {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.105em;
    color: #0B0A0A;
  }
  .footer-wrapper .inner .block-one {
    width: 20%;
  }
  .footer-wrapper .inner .block-one.has-before::before {
    left: -35px;
  }
  .footer-wrapper .inner .block-one.has-before::after {
    right: 0;
  }
  .footer-wrapper .inner .block-one.active::before {
    right: 0;
  }
}

@media only screen and (max-width: 700px) {
  .footer-wrapper .inner .block-one .footer-link {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.105em;
    color: #0B0A0A;
  }
  .footer-wrapper .inner .block-one.has-before::before {
    display: none;
  }
  .footer-wrapper .inner .block-one.has-before::after {
    display: none;
  }
  .footer-wrapper .inner .block-one.active::before {
    display: none;
  }
  .footer-wrapper .inner {
    position: relative;
  }
  .block-one1 {
    width: 20% !important;
  }
  .block-one2 {
    width: 20% !important;
  }
  .block-one3 {
    width: 40% !important;
  }
  .footer_logo_block {
    position: absolute !important;
    bottom: -90px !important;
    left: 24px !important;
    padding-bottom: 40px !important;
    width: 150px !important;
  }
}

@media only screen and (max-width: 450px) {
  .footer-wrapper .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-wrapper .inner .block-one .footer-link {
    margin-bottom: 16px;
  }
  .footer-wrapper .inner .block-one {
    width: 100% !important;
    margin-bottom: 40px;
  }
  .footer_logo_block {
    position: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
    bottom: auto !important;
    left: auto !important;
    width: 130px !important;
    margin-top: 40px !important;
    padding-bottom: 30px !important;
  }
  .footer-wrapper .inner .block-one a {
    width: 30%;
  }
}
/*# sourceMappingURL=footer.css.map */