.single_page_socials_block button {
  border: none;
  background: none;
}

.single_page_socials_block button button {
  width: 54px;
  height: 54px;
  margin-right: 16px !important;
  background: #F9F9F9 !important;
  border-radius: 8px;
  cursor: pointer;
}

.single_wrapper .inner_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single_wrapper .inner_page .left_side {
  width: 65%;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_name {
  font-family: Vollkorn;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0.065em;
  color: #242424;
  margin: 0;
  margin-bottom: 16px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_shorts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 38px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_shorts span {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #797979;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_shorts .single_page_view_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_shorts .single_page_view_count img {
  margin-right: 5px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_image img {
  width: 100%;
  height: 534px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_image p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.0216em;
  color: #000000;
  margin-top: 48px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .singfle_page_middle_content {
  margin-bottom: 48px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .singfle_page_middle_content h2 {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #242424;
  margin-top: 43px;
  margin-bottom: 24px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .singfle_page_middle_content p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.0216em;
  color: #000000;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_image_block_one {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_image_block_one img {
  width: 45%;
  height: 384px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  margin-top: 35px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_image_block_one p {
  width: 48%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.0216em;
  color: #000000;
  margin: 0;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_shares_place {
  margin-top: 52px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_shares_place .single_page_top_share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_shares_place .single_page_top_share .single_page_click_like button {
  display: block;
  padding: 6px 12px 6px 34px;
  background: #1877F2;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  position: relative;
  cursor: pointer;
  width: 94px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_shares_place .single_page_top_share .single_page_click_like button span {
  display: block;
  margin-left: 8px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_shares_place .single_page_top_share .single_page_click_like button::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 12px;
  background-image: url("../../assets/icons/like.png");
  left: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 6px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_shares_place .single_page_top_share .single_page_click_like.another_link {
  margin-left: 24px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_shares_place .single_page_top_share .single_page_click_like.another_link button {
  background-color: #0C7ABF;
  width: 94px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_shares_place .single_page_top_share .single_page_click_like.another_link button::before {
  background-image: url("../../assets/icons/twitter.png");
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_shares_place .single_page_bottom_share {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 32px 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_shares_place .single_page_bottom_share h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15em;
  color: #242424;
  margin: 0;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_shares_place .single_page_bottom_share .single_page_socials_block button {
  border: none;
  background: none;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_shares_place .single_page_bottom_share .single_page_socials_block button button {
  width: 54px;
  height: 54px;
  margin-right: 16px !important;
  background: #F9F9F9 !important;
  border-radius: 8px;
  cursor: pointer;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_write_comment .single_page_holder {
  margin-bottom: 24px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_write_comment .single_page_holder h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #242424;
  margin: 0;
  margin-bottom: 4px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_write_comment .single_page_holder p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.0216em;
  color: #000000;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_write_comment .single_page_writer_comments_place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_write_comment .single_page_writer_comments_place .commenter_avatar {
  width: 15%;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_write_comment .single_page_writer_comments_place .commenter_avatar img {
  width: 51px;
  height: 51px;
  -o-object-fit: contain;
     object-fit: contain;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_write_comment .single_page_writer_comments_place .single_page_top_comments {
  width: 90%;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_write_comment .single_page_writer_comments_place .single_page_top_comments .single_page_forma {
  width: 100%;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_write_comment .single_page_writer_comments_place .single_page_top_comments .single_page_forma span {
  display: block;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_write_comment .single_page_writer_comments_place .single_page_top_comments .single_page_forma textarea {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  display: block;
  background: #F5F5F5;
  border-radius: 8px;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 170px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.0216em;
  color: #000;
  margin-bottom: 16px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_write_comment .single_page_writer_comments_place .single_page_top_comments .single_page_forma .single_page_inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_write_comment .single_page_writer_comments_place .single_page_top_comments .single_page_forma .single_page_inputs input {
  width: 32%;
  display: block;
  padding: 8px 15px;
  border: none;
  outline: none;
  background: #F5F5F5;
  border-radius: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.0216em;
  color: #000;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_write_comment .single_page_writer_comments_place .single_page_top_comments .single_page_forma .check_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 34px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_write_comment .single_page_writer_comments_place .single_page_top_comments .single_page_forma label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.0216em;
  color: #000000;
  cursor: pointer;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_write_comment .single_page_writer_comments_place .single_page_top_comments .single_page_forma .checkbox {
  width: 18px;
  height: 18px;
  display: block;
  margin-right: 18px;
  margin-top: 8px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_write_comment .single_page_writer_comments_place .single_page_top_comments .single_page_forma .add_comment {
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  background: #000000;
  border-radius: 8px;
  padding: 12px 38px;
  cursor: pointer;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_comment_result_place {
  margin-top: 64px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_comment_result_place .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_comment_result_place .comments .place_left {
  margin-right: 48px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_comment_result_place .comments .place_left img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_comment_result_place .comments .place_right h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #242424;
  margin: 0;
  margin-bottom: 8px;
}

.single_wrapper .inner_page .left_side .single_page_main_content .single_page_comment_result_place .comments .place_right p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.0216em;
  color: #161616;
}

.single_wrapper .inner_page .right_side {
  width: 30%;
}

.single_wrapper .inner_page .right_side h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #242424;
  margin-bottom: 32px;
}

.single_wrapper .inner_page .right_side .cate_wrapper {
  margin-bottom: 64px;
}

.single_wrapper .inner_page .right_side .newsLetter {
  margin-top: 64px;
}

.single_wrapper .inner_page .right_side .newsLetter .holder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #242424;
  margin: 0;
  margin-bottom: 34px;
}

.single_wrapper .inner_page .right_side .newsLetter .news_input_active {
  width: 100%;
  border: 1px solid #6C6C6C;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single_wrapper .inner_page .right_side .newsLetter .news_input_active input {
  width: 85%;
  outline: none;
  border: none;
  padding: 18px 0 18px 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.0216em;
  color: #292929;
}

.single_wrapper .inner_page .right_side .newsLetter .news_input_active button {
  display: block;
  background: #474747;
  border: none;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.single_wrapper .inner_page .right_side .newsLetter .news_input_active button.active {
  background-color: #04f202;
}

.single_wrapper .inner_page .right_side .newsLetter .news_input_active button img {
  width: 27px;
  height: 27px;
  -o-object-fit: contain;
     object-fit: contain;
}

.single_wrapper .inner_page .right_side .newsLetter .news_input {
  width: 100%;
  border: 1px solid #04f202;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single_wrapper .inner_page .right_side .newsLetter .news_input input {
  width: 85%;
  outline: none;
  border: none;
  padding: 18px 0 18px 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.0216em;
  color: #292929;
}

.single_wrapper .inner_page .right_side .newsLetter .news_input button {
  display: block;
  background: #474747;
  border: none;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.single_wrapper .inner_page .right_side .newsLetter .news_input button.active {
  background-color: #04f202;
}

.single_wrapper .inner_page .right_side .newsLetter .news_input button img {
  width: 27px;
  height: 27px;
  -o-object-fit: contain;
     object-fit: contain;
}

.single_wrapper .inner_page .right_side .popular_posts {
  margin-top: 64px;
}

.single_wrapper .inner_page .right_side .popular_posts .holder {
  margin-bottom: 32px;
}

.single_wrapper .inner_page .right_side .popular_posts .holder .holder_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #242424;
}

.popular_posts_mobile {
  display: none;
}

.black_txt {
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 1400px) {
  .single_wrapper .inner_page .left_side {
    width: 54%;
  }
  .single_wrapper .inner_page .right_side {
    width: 41%;
  }
  .single_wrapper .inner_page .left_side .single_page_main_content .single_page_image_block_one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .single_wrapper .inner_page .left_side .single_page_main_content .single_page_image_block_one img {
    width: 100%;
  }
  .single_wrapper .inner_page .left_side .single_page_main_content .single_page_image_block_one p {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .single_wrapper .inner_page .left_side .single_page_main_content .single_page_image img {
    height: 231px;
  }
  .single_wrapper .inner_page .left_side {
    width: 48%;
  }
  .single_wrapper .inner_page .right_side {
    width: 48%;
  }
}

@media only screen and (max-width: 700px) {
  .popular_posts_mobile {
    display: block;
    margin-top: 64px;
  }
  .popular_posts_mobile .holder {
    margin-bottom: 32px;
  }
  .popular_posts_mobile .holder .holder_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.1em;
    color: #242424;
  }
  .single_wrapper .inner_page .right_side .popular_posts {
    display: none;
  }
  .single_wrapper .inner_page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .single_wrapper .inner_page .left_side {
    width: 100%;
  }
  .single_wrapper .inner_page .right_side {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .single_wrapper .inner_page .left_side .single_page_main_content .single_page_shares_place .single_page_bottom_share .single_page_socials button {
    margin-right: 5px;
  }
  .single_wrapper .inner_page .left_side .single_page_main_content .single_page_name {
    font-size: 28px;
    line-height: 140%;
  }
  .single_wrapper .inner_page .left_side .single_page_main_content .singfle_page_middle_content p {
    font-size: 17px;
    line-height: 36px;
  }
}
/*# sourceMappingURL=singlePage.module.css.map */