.single_country_wrapper .place_name .name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #242424;
  margin: 0;
  margin: 60px 0 36px 0;
}

.single_country_wrapper .place_name .name_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single_country_wrapper .place_name .name_btns button {
  width: 224px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 36px;
  border: none;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  -webkit-transition: .2s;
  transition: .2s;
}

.single_country_wrapper .place_name .name_btns button:hover {
  background: #505050;
}

.single_country_wrapper .place_name .name_btns button:hover span {
  color: #fff;
}

.single_country_wrapper .place_name .name_btns button:hover .icons {
  fill: #fff;
}

.single_country_wrapper .place_name .name_btns button.active {
  background: #505050;
}

.single_country_wrapper .place_name .name_btns button.active span {
  color: #fff;
}

.single_country_wrapper .place_name .name_btns button.active .icons {
  fill: #fff;
}

.single_country_wrapper .place_name .name_btns button .icons {
  width: 58px;
  height: 58px;
  fill: #383838;
}

.single_country_wrapper .place_name .name_btns button span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #242424;
  display: block;
  margin-top: 18px;
}

.single_country_wrapper .sliders_wrapper {
  margin-top: 64px;
}

.single_country_wrapper .sliders_wrapper .artisans {
  margin-bottom: 64px;
}

.single_country_wrapper .sliders_wrapper .artisans h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #242424;
  margin-bottom: 0;
  margin-bottom: 34px;
}

.single_country_wrapper .sliders_wrapper .artisans .slider .slide_card {
  width: 100%;
  padding: 32px;
  border: 0.5px solid #9CA5B2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.single_country_wrapper .sliders_wrapper .artisans .slider .slide_card .info {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.single_country_wrapper .sliders_wrapper .artisans .slider .slide_card .info .left_info {
  width: 136px;
  height: 136px;
  margin-right: 16px;
}

.single_country_wrapper .sliders_wrapper .artisans .slider .slide_card .info .left_info img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.single_country_wrapper .sliders_wrapper .artisans .slider .slide_card .info .right_info h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #242424;
  margin-bottom: 4px;
}

.single_country_wrapper .sliders_wrapper .artisans .slider .slide_card .info .right_info span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #979797;
  display: block;
}

.single_country_wrapper .sliders_wrapper .artisans .slider .slide_card .info .right_info span.fuck {
  color: #161616;
}

.single_country_wrapper .sliders_wrapper .artisans .slider .slide_card .info .right_info .follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single_country_wrapper .sliders_wrapper .artisans .slider .slide_card .info .right_info .follow button {
  border: none;
  background-color: transparent;
  border: 1px solid #161616;
  border-radius: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #000000;
  padding: 0;
  width: 100px;
  margin: 0;
}

.single_country_wrapper .sliders_wrapper .artisans .slider .slide_card p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.0216em;
  color: #161616;
  margin-bottom: 16px;
}

.single_country_wrapper .sliders_wrapper .artisans .slider .slide_card .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.single_country_wrapper .sliders_wrapper .artisans .slider .slide_card .images img {
  margin-bottom: 14px;
  width: 45%;
  height: 136px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}

.single_country_wrapper .sliders_wrapper .artisans .slider .slide_card button {
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  background: #000000;
  border-radius: 8px;
  padding: 12px 0;
  width: 100%;
  margin-top: 20px;
}

.single_country_wrapper .sliders_wrapper .crafts {
  margin-bottom: 64px;
}

.single_country_wrapper .sliders_wrapper .crafts.active {
  margin-bottom: 128px;
}

.single_country_wrapper .sliders_wrapper .crafts h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.1em;
  color: #242424;
  margin-bottom: 0;
  margin-bottom: 34px;
}

.single_country_wrapper .sliders_wrapper .crafts .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide {
  border: 0.5px solid #9CA5B2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_top {
  width: 100%;
  height: 408px;
  position: relative;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_top::before {
  position: absolute;
  content: '';
  background-image: url("../../assets/icons/video.png");
  width: 44px;
  height: 44px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 16px;
  left: 16px;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_top.active {
  height: 408px;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content {
  padding: 32px;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .little_things {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 17px;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .little_things span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.0216em;
  color: #8C8C8C;
  padding-left: 36px;
  position: relative;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .little_things span::before {
  content: '';
  position: absolute;
  background-position: center;
  background-size: contain;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .little_things span.comment {
  margin-left: 17px;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .little_things span.comment::before {
  width: 25px;
  height: 24px;
  background-image: url("../../assets/icons/sms.png");
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .little_things span.like::before {
  width: 27px;
  height: 24px;
  background-image: url("../../assets/icons/heart.png");
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .little_things span.view::before {
  width: 30px;
  height: 20px;
  background-image: url("../../assets/icons/eye.png");
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .little_things span.view.active {
  margin: 0;
  padding: 0;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .little_things span.view.active::before {
  display: none;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #242424;
  margin-bottom: 0;
  margin-bottom: 16px;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .card_person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .card_person p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.0216em;
  color: #161616;
  margin-right: 13px;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .card_person img {
  width: 88px;
  height: 88px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .card_person.active img {
  display: none;
}

.single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .card_person.active p {
  margin: 0;
}

.single_country_wrapper .span_in_span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
  .single_country_wrapper .place_name .name {
    font-size: 30px;
    line-height: 40px;
  }
  .single_country_wrapper .place_name .name_btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .single_country_wrapper .place_name .name_btns button {
    width: 23%;
    margin: 0 10px;
  }
  .single_country_wrapper .sliders_wrapper h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .single_country_wrapper .sliders_wrapper .crafts h1 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 700px) {
  .single_country_wrapper .place_name .name {
    font-size: 30px;
    line-height: 40px;
  }
  .single_country_wrapper .place_name .name_btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .single_country_wrapper .sliders_wrapper h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .single_country_wrapper .sliders_wrapper .crafts h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .single_country_wrapper .place_name .name_btns button {
    width: 40%;
    margin: 10px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .single_country_wrapper .place_name .name_btns button {
    width: 40%;
    margin: 10px;
  }
  .single_country_wrapper .place_name .name_btns button span {
    font-size: 17px;
    line-height: 30px;
  }
  .single_country_wrapper .place_name .name_btns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .single_country_wrapper .place_name .name_btns .icons {
    width: 40px;
    height: 40px;
  }
  .single_country_wrapper .sliders_wrapper .artisans .slider .slide_card .info .right_info h3 {
    font-size: 22.3164px;
    line-height: 37px;
  }
  .single_country_wrapper .sliders_wrapper .artisans .slider .slide_card .info .right_info span {
    font-size: 14px;
    line-height: 28px;
  }
  .single_country_wrapper .sliders_wrapper .artisans .slider .slide_card .info .right_info .follow span {
    font-size: 14px;
    line-height: 15px;
  }
  .single_country_wrapper .sliders_wrapper .artisans .slider .slide_card .info .right_info .follow {
    margin-top: 7px;
  }
  .single_country_wrapper .sliders_wrapper .artisans .slider .slide_card .info .right_info .follow button {
    font-size: 14px;
    line-height: 28px;
    margin-left: 10px;
  }
  .single_country_wrapper .sliders_wrapper .artisans .slider .slide_card .info .left_info {
    width: 100px;
    height: 100px;
  }
  .single_country_wrapper .sliders_wrapper .artisans .slider .slide_card {
    padding: 10px;
  }
  .single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .little_things span.comment {
    font-size: 15px;
    padding-left: 22px;
  }
  .single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .little_things span.like {
    font-size: 15px;
    padding-left: 22px;
  }
  .single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .little_things span.view {
    font-size: 15px;
    padding-left: 24px;
  }
  .single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .little_things span.view::before {
    width: 20px;
  }
  .single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .little_things span.like::before {
    width: 20px;
  }
  .single_country_wrapper .sliders_wrapper .crafts .slider .craft_slide .card_content .little_things span.comment::before {
    width: 20px;
  }
}
/*# sourceMappingURL=singlecountry.module.css.map */